body {
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

#header {
    display: block;
    background-color: rgb(60, 106, 136);
}

#header nav ul {
    display: flex;
}

#header nav ul li {
    list-style: none;
    padding: 20px;
}

#header nav ul li a {
    text-decoration: none;
    color: #fff;
}